body {
    background: #DDD;
}

.logos-section {
    padding-bottom: 50px;
}

.link-delete {
    font-weight: bolder;
    color: #CC0000;
}

.imgLink img {
    height: auto;
    width: auto;
    max-width: 45%;
    max-height: 130px;
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: #555;
}

.imgDiv {
    min-width: 120px;
    min-height: 120px;
}